/* common basic styles */
html {
  min-width: 960px;
  font-size: 10px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: lighter; }

body {
  min-width: 960px;
  min-height: 550px;
  height: 100vh; }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

::-webkit-input-placeholder {
  color: #aaa; }

::-moz-placeholder {
  color: #aaa; }

:-ms-input-placeholder {
  color: #aaa; }

button {
  color: white;
  margin: .2em;
  padding: .5em 1em;
  width: 10em;
  border: 1px solid white;
  background-color: transparent;
  font-size: 1.4rem;
  white-space: nowrap; }
  button:hover {
    background: white;
    color: inherit; }

.main {
  position: relative;
  height: 100%;
  color: #00d0ff; }
  .main .feature-title {
    color: white;
    font-weight: bold;
    font-family: PlayfairDisplay,"Times New Roman", Georgia, serif; }

/* layout */
.page-header {
  position: absolute;
  left: 0;
  right: 0;
  top: 1em;
  z-index: 10;
  background-color: #c30a0a;
  color: #c30a0a;
  min-width: 960px;
  color: white; }
  .page-header > * {
    float: left; }
  .page-header .header-logo {
    background-color: #3c3c3a;
    width: 33.33333%; }
    .page-header .header-logo .logo {
      float: right;
      position: relative;
      height: 42px;
      width: 45%; }
    .page-header .header-logo img {
      position: absolute;
      bottom: 1.1em;
      right: 5%;
      width: 100%;
      float: right;
      vertical-align: middle; }
    .page-header .header-logo .title {
      float: right;
      padding: .7em;
      border-left: 1px solid white;
      background-color: black; }
  .page-header .header-nav {
    width: 33.33333%;
    text-align: center;
    font-size: 1.4em; }
    .page-header .header-nav .mainmenu li {
      position: relative;
      display: inline-block;
      margin-left: -.3em; }
      .page-header .header-nav .mainmenu li:hover {
        background: black; }
        .page-header .header-nav .mainmenu li:hover .submenu {
          height: 13em; }
      .page-header .header-nav .mainmenu li + li {
        border-left: 1px solid rgba(255, 255, 255, 0.3); }
    .page-header .header-nav a {
      display: block;
      padding: .8em; }
    .page-header .header-nav .submenu {
      position: absolute;
      top: 100%;
      left: 0;
      height: 0;
      text-align: left;
      background-color: #000;
      transition: height .5s;
      overflow: hidden; }
      .page-header .header-nav .submenu li {
        display: block; }
        .page-header .header-nav .submenu li:first-child a {
          padding-top: 1em; }
        .page-header .header-nav .submenu li:last-child a {
          padding-bottom: 1em; }
      .page-header .header-nav .submenu li:hover {
        color: #00d0ff; }
      .page-header .header-nav .submenu a {
        white-space: nowrap;
        display: block;
        padding: .5em 1em; }
  .page-header .btn-call {
    float: right;
    width: 16.66667%;
    text-align: center; }
    .page-header .btn-call button:hover {
      color: #c30a0a; }
  .page-header .header-contacts {
    float: right;
    width: 16.66667%;
    padding: .7em;
    font-size: 1.4em;
    white-space: nowrap;
    text-align: center; }
    .page-header .header-contacts img {
      margin-left: 1em;
      width: 1em; }
    .page-header .header-contacts b {
      font-weight: bold; }

.page-title {
  position: absolute;
  bottom: 55%;
  left: 16.66667%;
  right: 16.66667%;
  z-index: 1;
  padding: 1em;
  text-align: center;
  font-size: 2.4em;
  font-weight: lighter;
  background-color: rgba(87, 196, 220, 0.92);
  color: white; }

.column {
  position: relative;
  float: left;
  width: 16.66667%;
  height: 100%;
  overflow: hidden;
  background-size: cover; }
  .column .feature {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30%;
    min-height: 250px;
    padding: 10%;
    background-color: rgba(0, 11, 14, 0.6);
    font-size: 1.2em; }
    .column .feature h2 {
      font-size: 1.6em; }
    .column .feature button {
      display: none;
      margin-top: 1em; }
    .column .feature:hover {
      background-color: rgba(87, 196, 220, 0.92);
      color: white; }
      .column .feature:hover button {
        display: block; }
        .column .feature:hover button:hover {
          color: #00d0ff; }
      .column .feature:hover:before, .column .feature:hover:after {
        border-bottom-color: rgba(87, 196, 220, 0.92); }
    .column .feature:before, .column .feature:after {
      position: absolute;
      bottom: 100%;
      display: table;
      box-sizing: border-box;
      width: 100%;
      content: '';
      border: 8.33vw solid transparent;
      border-bottom: 3em solid rgba(0, 11, 14, 0.6); }
      @media (max-width: 960px) {
        .column .feature:before, .column .feature:after {
          border: 80px solid transparent;
          border-bottom: 3em solid rgba(0, 11, 14, 0.6); } }
    .column .feature:before {
      left: -50%; }
    .column .feature:after {
      left: 50%; }
  .column:nth-of-type(1) {
    background-image: url("../img/bg-1.jpg"); }
  .column:nth-of-type(2) {
    background-image: url("../img/bg-2.jpg"); }
  .column:nth-of-type(3) {
    background-image: url("../img/bg-3.jpg"); }
  .column:nth-of-type(4) {
    background-image: url("../img/bg-4.jpg"); }
  .column:nth-of-type(5) {
    background-image: url("../img/bg-5.jpg"); }
  .column:nth-of-type(6) {
    background-image: url("../img/bg-6.jpg"); }

/*# sourceMappingURL=style.css.map */
