button {
  background-color: #429bb3 !important;
}

.card {
  max-width: 500px;
  padding: 10px 30px;
  background-color: rgba(255,255,255,.1);
  border-radius: 3px;
}
.card .image {
  width: calc(100% - 40px);
  height: 300px;
  padding: 1px 20px;
  background-size: cover;
  border-radius: 3px;
}

.card .address {
  height: 3em;
  display: flex;
  align-items: center;
}
.card .price {
  font-weight: normal;
}

h3, h4, h5, .image {
  margin: 20px 0;
}
.label {
  font-weight: normal;
  opacity: .7;
}